body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background:linear-gradient(white,skyblue);
    font-size:x-large;
}

#hero {
    background-image: url("images/Rasht_Municipality_Mansion_in_an_Autumn_night.jpg");
    background-size: cover;
    height: 800px;
    
}

#main-logo {
    width: 100px;
    margin-top: 20px;
    border-radius: 50px;
}

#title {
    color: white;
    text-shadow: 0px 4px 4px blue;
}

.underline {
    border-bottom: 4px solid white;
}

   
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    font-weight: bolder;
    text-shadow: 0px 0px 2px darkorange;
    color: darkred;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    font-weight: bolder;
    text-shadow: 0px 0px 2px darkorange;
    color: rgb(21, 3, 70); 
    font-style: italic; 
}

p {
    text-align: left;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin: 20px 10px 10px 20px;
}

img {
    width: 500px;
    border-radius:10px ;
    margin-bottom: 20px;
    border: rgba(255, 0, 0, 0.327) 3px solid;
    
}

#btn{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    
}

#list{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}

#footer{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
    
    
}